In [ ]:
#mengecek kolom yang ada di file csv
import pandas as pd
csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(csv_data.columns)

In [ ]:
import pandas as pd
csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(csv_data['Age'])

In [ ]:
# mengakses data melalui baris
import pandas as pd
csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(csv_data.iloc[5])

In [1]:
#menampilkan data dari baris dan kolom tertentu
import pandas as pd
csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(csv_data['Age'].iloc[1])
print("Cuplikan Dataset:")
print(csv_data.head())

21
Cuplikan Dataset:
   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [7]:
#menampilkan data kolom age data ke 5 sampai kurang dari 10
import pandas as pd
data_csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print("Menampilkan data ke 5 sampai kurang dari 10")
print(data_csv['Age'].iloc[5:10])

Menampilkan data ke 5 sampai kurang dari 10
5    22
6    35
7    23
8    64
9    30
Name: Age, dtype: int64

In [3]:
#Menampilkan data ke 5 sampai kurang dari 10 dalam satu baris"
import pandas as pd
data_csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print("Menampilkan data ke 5 sampai kurang dari 10 dalam satu baris:")
print(data_csv.iloc[5:10])

Menampilkan data ke 5 sampai kurang dari 10 dalam satu baris:
   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

In [8]:
#Menampilkan informasi statistik dengan Numpy
import pandas as pd
data_csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(data_csv.describe(include='all'))

        CustomerID   Genre         Age  Annual Income (k$)  \
count   200.000000     200  200.000000          200.000000
unique         NaN       2         NaN                 NaN
top            NaN  Female         NaN                 NaN
freq           NaN     112         NaN                 NaN
mean    100.500000     NaN   38.850000           60.560000
std      57.879185     NaN   13.969007           26.264721
min       1.000000     NaN   18.000000           15.000000
25%      50.750000     NaN   28.750000           41.500000
50%     100.500000     NaN   36.000000           61.500000
75%     150.250000     NaN   49.000000           78.000000
max     200.000000     NaN   70.000000          137.000000

        Spending Score (1-100)
count               200.000000
unique                     NaN
top                        NaN
freq                       NaN
mean                 50.200000
std                  25.823522
min                   1.000000
25%                  34.750000
50%                  50.000000
75%                  73.000000
max                  99.000000

In [2]:
#mengecek data apakah ada missing value
import pandas as pd
csv_data = pd.read_csv("http://academy.dqlab.id/dataset/shopping_data.csv")
print(csv_data.isnull().values.any())

False

In [ ]:
'''data tidak selamanya lengkap, apabila tidak lengkap atau terjadi missing value maka terdapat 2 solusi yaitu penghapusan data
dan imputation (pengisian data kosong), nah data tersebut Khusus untuk general problem tergantung jenis datanya.
Jika yang hilang data kategorikal atau bersifat string bisa menggunakna relasi antar kolom dengan Logistic Regression,
jika numerical bisa menggunakan statistik sederhana dan linear regression.
'''

In [ ]:
#mengunakan mean bisa menggunakan mean()

import pandas as pd
csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data_missingvalue.csv")
print(csv_data.mean())

In [ ]:
#melakukan handing missing value dengan mean
import pandas as pd
csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data_missingvalue.csv")
print(csv_data.mean())
print("Dataset yang masih terdapat nilai kosong : ")
print(csv_data.head(10))
print("\n")
csv_data = csv_data.fillna(csv_data.mean())
print("Dataset yang sudah diproses handling missing value dengan mean :")
print(csv_data.head(10))

In [ ]:
#menggunakan median

import pandas as pd

csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data_missingvalue.csv")
print(csv_data.median())

In [ ]:
#melakukan handling missing values dengan median
import pandas as pd

csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data_missingvalue.csv")
print("Dataset masih terdapat missing value")
print(csv_data.head(10))

csv_data = csv_data.fillna(csv_data.median())
print("Dataset yang sudah di proses handling missing value dengan median")
print(csv_data.head(10))